@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 95%;
  scroll-behavior: smooth;
}

:root {
  --dark-green: #112a34;
  --green-color: #004047;
}

section {
  padding: 0 8rem;
}

.label {
  font-size: 1.3rem;
  color: #666;
  font-weight: 500;
}

.heading {
  font-size: 2.5rem;
  margin-top: 1rem;
}

/* home section starts here */
section#home {
  padding: 1rem;
  width: 100%;
  height: 100vh;
}

.home-box {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/images/home-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.home-box nav {
  height: 65px;
  background: linear-gradient(
    rgba(11, 11, 11, 0.2),
    rgba(11, 11, 11, 0.2)
  );
  backdrop-filter: blur(1px);
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  right: 2rem;
  left: 2rem;
  z-index: 999; 
}

.home-box nav .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home-box nav .logo .bars {
  font-size: 1.35rem;
  cursor: pointer;
  color: #fff;
  display: none;
}

.home-box nav .logo .bars:hover {
  color: var(--green-color);
}

.home-box nav .logo h2 a {
  text-decoration: none;
  color: #fff;
}

.home-box nav .close {
  display: none;
}

.home-box nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.home-box nav ul li {
  list-style: none;
}

.home-box nav ul li a {
  text-decoration: none;
  color: white;
}

.home-box nav ul li a:hover {
  color: rgb(255 255 255/70%);
}

.home-box nav .signup-login {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.home-box nav .signup-login a {
  text-decoration: none;
  padding: 0.3rem 1rem;
  color: #fff;
}

.home-box nav .signup-login a:last-child {
  background-color: var(--green-color);
  border-radius: 2rem;
}

.home-box nav .signup-login a:hover {
  color: rgb(255 255 255/70%);
}

.home-box nav .signup-login a:last-child:hover {
  background-color: #02636e;
  color: #fff;
}

.home-box .content {
  width: 100%;
  height: calc(100% - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
}

.home-box .content h5 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.home-box .content h1 {
  font-size: 3.5rem;
  max-width: 50rem;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.home-box .content p {
  max-width: 40rem;
  text-align: center;
  font-size: 1.1rem;
  color: #eee;
  margin-bottom: 1rem;
}

.home-box .content .search {
  width: 100%;
  max-width: 35rem;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 3rem;
  padding: 0.3rem;
}

.home-box .content .search i {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0.6rem;
}

.home-box .content .search input {
  width: 100%;
  height: 100%;
  background: transparent;
  font-weight: 400;
  border: none;
  outline: none;
}

.home-box .content .search button {
  height: 100%;
  padding: 0 1rem;
  color: #fff;
  background: var(--green-color);
  cursor: pointer;
  border-radius: inherit;
  border-style: none;
  outline: none;
}

.home-box .content .search button:hover {
  background-color: #02636e;
}

.home .home-box .content h5,
.home .home-box .content h1,
.home .home-box .content p,
.home .home-box .content .search {
  transform: translate(0, 100px);
  opacity: 0;
}
/* home section ends here */

/* travel sectio starts here */

.travel .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding: 0 5rem;
    margin-top: 4rem;
}

.travel .container .box {
    text-align: center;
    padding: 0 1rem;
    max-width: 30rem;
    /* transform: translate(0, 100px); */
    /* opacity: 0; */
}

.travel .container .box img {
    height: 10rem;
}

.travel .container .box h4 {
    font-size: 1.2rem;
    margin: 1rem 0;
    margin-top: 2rem;
    font-weight: 600;
}

.travel .container .box p {
    color: #666;
}

/* travel sectio ends here */

/* destinations section starts here */

#destinations {
  width: 100%;
  padding-top: 8rem;
}

#destinations .container {
  width: 100%;
}

#destinations .container .content-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#destinations .container .content-box .heading {
  max-width: 30rem;
}

#destinations .container .content-box .content {
  max-width: 35rem;
}

#destinations .container .content-box .content p {
  color: #666;
  line-height: 1.7;
  margin-bottom: 1rem;
}

#destinations .container .content-box a {
  color: var(--green-color);
  font-weight: 600;
}

#destinations .container .content-box a i {
  margin-left: .5rem;
}

#destinations .container .content-box a:hover i {
  margin-left: 1rem;
}

.gallery {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;  
  gap: 1rem;
  width: 100%;
}

.gallery .box {
  height: 23rem;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  border-radius: .8rem;
}

.gallery .box img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.gallery .box .text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.5rem 2rem;
  z-index: 1;
}

.gallery .box .text h2 {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
}

#destinations .container .content-box .heading,
#destinations .container .content-box .content {
    transform: translate(-200px);
    opacity: 0;
}

/* destinations section ends here */

/* packages section starts here */

#packages{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#packages .gallery .box:first-child {
  border: 1px solid rgba(0,0,0,.3);
  padding: 2rem 1.5rem;
}

#packages .gallery .box:first-child h2 {
  margin-bottom: .5rem;
}

#packages .gallery .box:first-child p {
  margin-bottom: .5rem;
  color: #666;
}

#packages .gallery .box:first-child a {
  position: absolute;
  bottom: 2rem;
  padding: .4rem 1rem;
  color: #fff;
  background-color: var(--green-color);
  border-radius: 3rem;
  font-size: .9rem;
  font-weight: 400;
  text-decoration: none;
}

#packages .gallery .box:first-child a:hover {
  background-color: #02636e;
}

#packages .gallery .box:first-child .image {
  width: 40%;
  position: absolute;
  bottom: -1rem;
  right: 2rem;
}

#packages .gallery .box .content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5rem 2rem;
}

#packages .gallery .box .content h2 {
  font-weight: 500;
  color: #fff;
}

#packages .gallery .box .content p{
  font-size: .9rem;
  color: #eee;
}

#packages .gallery .box .content .review-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

#packages .gallery .box .content .review-and-price i {
  color:#ffa600;
}

#packages .gallery .box .content .review-and-price p {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

/* packages section ends here */

/* testimonial section starts here */

#testimonial {
  background-image: url('/images/section-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 6rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#testimonial .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#testimonial .container h4 {
  color: rgb(255 255 255/90%);
}

#testimonial .container h2 {
  max-width: 40rem;
  color: #fff;
  text-align: center;
}

#testimonial .container p {
  color: #eee;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

#testimonial .voices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
}

#testimonial .voices .voice {
  flex: 1 0 320px;
  background-color: #fff;
  border-radius: .7rem;
  padding: 2rem;
}

#testimonial .voices .voice .profile {
  display: flex;
  align-items: center;
}

#testimonial .voices .voice .profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 2rem;
}

#testimonial .voices .voice .profile .details {
  margin-left: 1rem;
}

#testimonial .voices .voice .profile .details li {
  list-style: none;
}

#testimonial .voices .voice .profile .details li:first-child {
  font-size: 1.1rem;
  font-weight: 600;
}

#testimonial .voices .voice p {
  margin-top: 1rem;
}

/* testimonial section ends here */

/* article section starts here */

#article {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 5rem;
}

#article .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

#article .container .latest-article,
#article .container .more-article {
  width: 100%;
  flex: 1 0 350px;
  }

#article .container .latest-article img {
  width: 100%;
  height: 28rem;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}
  
#article .container .latest-article p {
  margin: .8rem 0;
  color: #666;
}

#article .container .latest-article h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

#article .container .latest-article .author {
  display: flex;
  align-items: center;
  gap: .7rem;
}

#article .container .latest-article .author img {
  width: 30px;
  height: 30px;
  border-radius: 3rem;
}

#article .container .latest-article .author p {
  font-size: .9rem;
}

#article .container .more-article {
  display: grid;
  gap: 1rem;
  overflow: hidden;
}

#article .container .more-article .box {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

#article .container .more-article .box img {
  width: 135px;
  height: 120px;
  border-radius: .5rem;
  object-fit: cover;
  object-position: center;
}

#article .container .more-article .box .text h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

#article .container .more-article .box .text li {
  margin-top: .3rem;
  list-style: none;
  color: #666;
}

#article .latest-article, #article .more-article .box {
  transform: translate(-200px, 0);
  opacity: 0;
  transition: all .4s ease-out;
}

/* article section ends here */

/* footer section starts here  */

footer {
  width: 100%;
  padding: 1rem;
}

footer #footer {
  background-color: var(--dark-green);
  padding: 6rem 7rem;
  padding-bottom: 1rem;
  border-radius: .7rem;
}

footer #footer .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--green-color);
  gap: 2rem;
}

#footer .container .details {
  max-width: 32rem;
}

#footer .container .details h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
}

#footer .container .details p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: rgba(255 255 255/80%);
}

#footer .container .details h5 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

#footer .container .details a {
  color: rgba(255 255 255/80%);
  border-bottom: 2px solid #00cee4;
  padding: 1px 0;
  font-size: .9rem;
  text-decoration: none;
  display: inline-block;
}

#footer .container .details .social {
  display: flex;
  gap: .8rem;
  margin-top: 1rem;
}

#footer .container .details .social a {
  color: #fff;
  border: none;
  font-size: 1.3rem;

}

#footer .container h4 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

#footer .container li {
  list-style: none;
  margin-top: 1rem;
}

#footer .container li a {
  color: rgba(255 255 255/80%);
}

#footer .container li a:hover{
  color: #fff;
}

#footer .container span {
  color: #000;
  padding: .1rem .5rem;
  background-color: #00cee4;
  font-size: .9rem;
  font-weight: 500;
  border-radius: .3rem;
}

#footer .copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: .9rem;
  color: rgba(255 255 255/80%);
  text-align: center;
}

#footer .copyright a {
  color: rgba(255 255 255/80%);
  margin-left: 1rem;
  text-align: center;
}

/* footer section ends here  */


/* media section starts here */

@media (max-width: 1020px) {
  html {
    font-size: 85%;
  }

  section {
    padding: 0 2rem;
}

footer #footer {
  padding: 2rem;
}
}
@media (max-width: 910px) {
  .home-box nav {
    padding: 0 1rem;
  }

  .home-box nav ul {
    gap: 1.5rem;
  }

  .travel .container {
    padding: 0 2rem;
  }

  #footer .container {
    flex-direction: column;
  }

#destinations .container .content-box {
  flex-direction: column;
  align-items: flex-start;
}
  }
  @media (max-width: 767px) {
  .home-box nav .menu {
    display: none;
  }
  .home-box nav .logo .bars {
    display: block;
  }

  .home-box nav .menu.active {
    position: absolute;
    left: -1.5rem;
    top: -1.5rem;
    width: 100vw;
    height: 100vh;
    background: rgb(0 0 0/90%);
    display: flex;
    align-items: center;
    padding: 0 3rem;
  }
  .home-box nav .menu .close {
    display: block;
    position: absolute;
    left: 3rem;
    top: 3rem;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
  }
  .home-box nav .menu .close:hover {
    color: rgb(255 255 255/40%);
  }
  .home-box nav .menu ul {
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
  }

  .home-box nav .menu ul:hover li a {
    color: rgb(255 255 255/40%);
  }

  .home-box nav .menu ul li a:hover {
    color: #fff;
  }

  .home-box .content {
    padding: 2rem;
  }

  .travel .container {
    flex-direction: column;
    gap: 4rem;
  }

  .travel .container .box img {
    height: 6rem;
  }

  #destinations .container .content-box h1 {
    font-size: 2rem;
  }

}
@media (max-width: 602px) {
    .home-box .content h1 {
        font-size: 2rem;
    }

    .home-box .content p {
        font-size: .8rem;
    }
}
@media (max-width: 457px) {
  #article .container .latest-article,
  #article .container .more-article {
    width: 100%;
    flex: 1 0 250px;
  }

  #article .container .more-article .box img {
    width: 100px;
    height: 85px;
  }

}

/* media section ends here */
